mac/DodgeDanger.xcodeproj/xcuserdata
mac/DodgeDanger.xcodeproj/project.xcworkspace/xcuserdata
.DS_Store
win/Debug
win/Release
win/x64
win/ARM
win/dinput.pdb
win/.vs
win/Shaders/*.h
*.sdf
*.suo
#*.vcxproj.user
*.aps
*.opensdf
