mac/DodgeDanger.xcodeproj/xcuserdata
mac/DodgeDanger.xcodeproj/project.xcworkspace/xcuserdata
.DS_Store
win/Debug
win/Release
win/x64
win/dinput.pdb
win/.vs
win/position-pixel.h
win/position-vertex.h
win/texture-position-pixel.h
win/texture-position-vertex.h
*.sdf
*.suo
#*.vcxproj.user
*.aps
*.opensdf
